body {
    font-family: 'Open Sans Condensed', sans-serif;
	color: black;
	font-size: 16px;
    padding: 0;
	margin: 0;
}

.container {
    max-width: 100%;
    width: 1200px;
    box-sizing: border-box;
    
    
}
.wrapper_header
{
    margin:0 25% 0 25%;
  width:50%;
    text-align: center;
}

.wrapper_section {
    font-size: 20px;
    font-weight: 500;
   margin:0 25% 0 25%;
  width:50%;
}


.linkedin {
    width: 50px;
}

.footer {
    text-align: center;
}